[Unit]
Description=DiscordLoggerBot
After=network.target

[Service]
ExecStart=/home/opc/discordlogger/start.sh
Restart=always
RestartSec=3
User=root
Group=root
WorkingDirectory=/home/opc/discordlogger/

[Install]
WantedBy=multi-user.target